.card-height{
height: 80vh;
width: 80vw;
}

.l-btn{
width: 80vw;
height: 10vh;
font-size: 8vw;
background-color: #EB921E;
color: white;
font-family:Georgia, 'Times New Roman', Times, serif;
}
.l-btn:hover{
background-color: #c87d29;
color: white;
}

.l-group{
height: 10vh;
width: 80vw;
font-size: 6vw;
font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Responsive para pantallas horizontales/grandes */
@media (min-width: 768px) and (orientation: landscape) {
    .l-btn{
        width: 90vw;
        height: 12vh;
        font-size: 3vw;
        max-font-size: 2.5rem;
    }
    
    .l-group{
        width: 35vw;
        max-width: 400px;
        height: 10vh;
        font-size: 2.5vw;
        max-font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .l-btn{
        width: 40vw;
        max-width: 500px;
        font-size: 2rem;
    }
    
    .l-group{
        width: 30vw;
        max-width: 350px;
        font-size: 1.5rem;
    }
}

@media (min-width: 1440px) {
    .l-btn{
        width: 30vw;
        max-width: 450px;
        font-size: 1.8rem;
    }
    
    .l-group{
        width: 25vw;
        max-width: 300px;
        font-size: 1.3rem;
    }
}

.btn-a{
background-color: #6b1d3e;
border-color: #61082B;
color: white;
}
.btn-a:active, .btn-a:focus, .btn-a:hover{
background-color: #5d2038;
border-color: #5d2038;
}

.btn-b{
background-color: #ebaf48;
border-color: #efa72f; 
color: white;
}

.btn-b:active, .btn-b:focus, .btn-b:hover{
background-color: #c69136;
border-color: #c69136;
}   

.btn-c{
background-color: #B84E0C;
border-color: #B84E0C;
color: white;
}   

.btn-c:active, .btn-c:focus, .btn-c:hover{
background-color: #8e3e09;
border-color: #8e3e09;
}