body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('/background.gif');
  background-size: cover;
  background-position: center center;
}

html {
  background-color: #0a1a2f;
}

#root {
  min-height: 100vh;
  background: transparent;
  position: relative;
}
